html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  z-index: 50;
}

.navbar a {
  padding-left: 15px;
  line-height: 100%;
}

.navbar img {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.navbar .navbar-header {
  line-height: 100%;
  display: inline-block;
  padding-right: 20px;
}

main {
  padding-top: 60px;
}

.card-list {
  padding-top: 10px;
  display: flex;
  list-style: none;
}

.card {
  flex-direction: row;
  width: 260px;
  /*border-radius: 10px;*/
  margin: 0 15px;
  min-height: 300px;
  overflow: hidden;
}

.notes-ul {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
  border-right: 1px solid #F5F5F5;
  border-left: 1px solid #F5F5F5;
  padding-left: 0;

}

.note {
  width: 220px;
  min-height: 150px;
  border: 2px solid lightblue;
  border-radius: 10px;
  list-style: none;
  padding: 10px;
  padding-bottom: 30px;
  margin: 15px auto;
  position: relative;
}

.note-edit-btn {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
}

.lable-div {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.panel-heading input {
  width: 60%;
  outline: 2px solid deepskyblue;
  display: none;
}

.panel-footer .add-note-btn {
  padding-left: 12%;
}

.add-note-btn, .panel-footer {
  height: 100%;
  width: 100%;
  text-align: left;
}

.panel-footer {
  padding: 0;
  height: 50px;
}

.panel-footer:hover {
  background-color: #a2a3a5;
}

.panel-footer button {
  padding: 0;
  border: none;
  background: none;
}

.panel-default {
  margin-bottom: 0;
}

.panel-heading .panel-title {
  display: inline-block;
  width: 85%;
  height: 230%;
}

.panel-heading {
  position: relative;
}

.dropdown {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 3px;
}

.note-text {
  padding: 30px 5px;
}

.member-name-label {
  padding: 5px 10px;
  margin-left: 6px;
}

.add-list-li .add-list-btn, .add-list-btn .panel-heading {
  height: 100%;
  width: 100%;
}

.add-list-li .add-list-btn {
  cursor: pointer;
}

.add-list-li .panel-heading {
  /*padding: 0;*/
  /*height: 40px;*/
}

/********Members section********/

.members-area h1 {
  font-size: 36px;
  font-weight: bold;
}

.list-group-item {
  width: 600px;
}

.member-name {
  font-size: 18px;
  font-weight: bold;
}

.edit-member-input {
  width: 250px;
  display: none;
}

.add-member-input {
  width: 200px;
  display: inline-block;
}

.member-li button {
  margin-top: -5px;
  margin-left: 5px;
  display: none;
}

.member-li:hover .btn-to-show-on-hover {
  display: inline-block;
}

.member-li button.edit-mode-edit-delete {
  display: none;
}

button.edit-mode {
  display: inline-block;
}

.form-group {
  margin-bottom: 0;
}

/********MODAL STUFF********/

.modal {
  z-index: 1200;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  /*display: block;*/

}

.modal-content {
  padding: 15px;
}

.modal-content h2 {
  display: inline-block;
  font-size: 18px;
  width: 90px;
}

.modal-content .card-text h2 {
  vertical-align: top;
}

.modal-content textarea {
  display: inline-block;
  width: 340px;
  resize: none;
}

.modal-content select {
  display: inline-block;
  width: 340px;
}

.modal-content .checkbox {
  border: 1px solid #000;
  width: 300px;
  height: 150px;
  overflow: auto;
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  padding: 5px;

}

.modal-content .checkbox label {
  display: block;
  margin-left: 15px;
}

.modal-content .del-note-btn {
  margin: 10px;
}



