html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar a {
  padding-left: 15px;
  line-height: 100%;
}

.navbar img {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.navbar .navbar-header {
  line-height: 100%;
  display: inline-block;
  padding-right: 20px;
}

main {
  padding-top: 60px;
}

.card-list {
  padding-top: 10Px;
  display: flex;
  list-style: none;
}

.card {
  flex-direction: row;
  width: 400px;
  /*border-radius: 10px;*/
  margin: 0 15px;
  min-height: 300px;
  overflow: hidden;
}

.notes-ul {
  overflow-y: auto;
  position: relative;
  max-height: calc(100vh - 200px);
  border-right: 1px solid #F5F5F5;
  border-left: 1px solid #F5F5F5;
  padding-left: 0;

}

.note-edit-btn {
  display: none;
}

.note {
  width: 300px;
  /*max-height: 300px;*/
  min-height: 150px;
  border: 2px solid lightblue;
  border-radius: 10px;
  list-style: none;
  padding: 10px;
  margin: 10px auto;

}

.panel-heading input {
  width: 60%;
  outline: 2px solid deepskyblue;
  display: none;
}
.panel-footer .add-note-btn {
  padding-left: 12%;
}
.add-note-btn , .panel-footer {
  height: 100%;
  width: 100%;
  text-align: left;
}

.panel-footer {
  padding: 0;
  height: 50px;
}

.panel-footer:hover {
  background-color: #a2a3a5;
}
.panel-footer button {
  padding: 0;
  border: none;
  background: none;
}

.panel-default {
  margin-bottom: 0;
}

.panel-heading .panel-title {
  display: inline-block;
  width: 85%;
  height: 230%;
}

.panel-heading {
  position: relative;
}

.dropdown {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 3px;
}

.note-text {
  padding: 30px 5px;
}

.add-list-li .add-list-btn ,.add-list-btn .panel-heading{
  height: 100%;
  width: 100%;
}

.add-list-li .add-list-btn {
  cursor: pointer;
}
.add-list-li .panel-heading {
  /*padding: 0;*/
  /*height: 40px;*/
}



